# Временные файлы и мусор
*.old
__pycache__/
.mypy_cache/

# Виртуальное окружение
venv/
.venv/
configs/secrets.yaml

# ЛОКАЛЬНЫЕ ДАННЫЕ (самое важное)
# Мы не пушим саму базу векторов и ключи, только структуру кода
data/vectors/
data/security/*.bin
data/security/*.json
data/temp/
data/logs/
launch.log

# Настройки Obsidian (пушим заметки, но не конфиги интерфейса)
Ai_Obsidian/.obsidian/

# Секреты
.env
secrets.yaml